/* 主页 */
html,
body {
	height: 100%;
	position: relative;
	background-color: #56209c;
}

.container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 500px;
	height: 500px;
	background-color: #fff800;
}
.listNavBar {
	margin: 5px 0px -5px 5px;
}
.listNavBar>a{
	display: block;
	margin-bottom: 5px;
	width: 100px;
	height: 30px;
	font-size: 15px;
	color: #00beff;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	background: #ffffff;
	transform-origin: left top;
	transition: all .1s cubic-bezier(0.47, 0.03, 0, 1.15);
}
.listNavBar>a:hover {
	transform: scaleX(1.5);
}
.introduces {
	width: 385px;
	height: 100px;
	margin-top: 5px;
	margin-right: 5px;
	background: linear-gradient(314deg, transparent 38px, white 0), linear-gradient(-493deg, transparent 38px, white 0);
    background-position: top right, bottom right;
    background-size: 100% 49%;
    background-repeat: no-repeat;
	border-radius: 49px 0 0 45px;
	color: white;
}
.introduces .myIcon {
	margin: 5px;
	padding: 10px;
	background: #986060;
	width: 90px;
	height: 90px;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 50%;
}
.introduces .myIcon img {
	width: 100%;

}
.introduces .myList {
	background: #f14343;
	height: 90px;
	width: 202px;
	margin: 5px 74px 0 0;
	border-radius: 52px 52px 52px 52px;
	box-sizing: border-box;
	padding: 5px 30px;
}

.introduces .myMotto {
	padding-left: 2em;
	font: 14px/22px "微软雅黑";
	letter-spacing: 3px;
}
.myNews {
	width: 375px;
	height: 381px;
	background: rgb(109, 214, 203);
	margin: 5px 15px 0 0;
	/* box-shadow: 1px 1px #ccc,inset 1px 1px #999; */
	padding: 5px 10px;
	box-sizing: border-box;
	color: white;
	font-size: 20px;
	letter-spacing: 3px;
	line-height: 30px;
}



















/* end:主页 */
